<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

{%include 'head.html'%}

</head>

<body>

  <!-- Navigation -->
{% include 'navigation.html'%}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>UV Blog</h1>
            <span class="subheading">A Blog Made With Flask</span>
          </div>
        </div>
      </div>
    </div>
  </header>


{%include "header.html"%}
  <hr>
{%include "footer.html"%}

  <!-- Footer -->

  <!-- Bootstrap core JavaScript -->

</body>

</html>
